.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid white;
}

p{
    width: 360px;
}

.btnOrder{
    min-width: 250px;

}