.menu {
    background-color: black;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #1D1D1D;
    
    .topI {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
    }

    .topI:hover {
        background-color: #1D1D1D;
        cursor: pointer;
    }

    .containerMy {
        min-width: 72%;
        max-width: 1200px;
        position: relative;
        margin: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

}