.content{
    width: 100%;
    height: auto;

    .title{
        font-size: 25px;
        color: #F55A00;
        margin: 0 0 0 0;
    }

    .item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}



