.content{
    max-width: 800px;
    height: auto;

    .title{
        font-size: 25px;
        color: #128fae;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }

    .item{
        display: flex;
        justify-content: space-around;

        flex-wrap: wrap;
    }
}



