.wrapper{
    
    h1{
        font-weight: 700;
        margin-bottom: 30px;
    }
    h2{
        font-weight: 700;
        font-size: 50px;
        text-align: end;
        max-width: 60%;
        
        @media screen and (max-width: 1200px) {
            text-align: center;
        }

        @media screen and (max-width: 993px) {
            max-width: 100%;
        }
        
    }
    p{
        font-size: 22px;
        max-width: 60%;
        @media screen and (max-width: 993px) {
            max-width: 100%;
        }
    }
    
    img{
        width: 400px;
        @media screen and (max-width: 993px) {
            max-width: 100%;
        }
    }

    
}

