.wrapper{
    h1{
        font-weight: 700;
        margin-bottom: 30px;
    }
    h2{
        font-weight: 700;
        font-size: 50px;
        text-align: end;
    }
    p{
        font-size: 22px;
    }
    flex-wrap: wrap;
    img{
        width: 400px;
    }
}