.sideOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 30px;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    .wrapper::-webkit-scrollbar {width: 0;}
    .wrapper{-ms-overflow-style: none;}
    .wrapper {overflow: -moz-scrollbars-none;}
    animation: anim 1s ease;

    .close{
        font-size: 14px;
        position: absolute;
        right: 0;
        margin-right: 15px;
    }

    h5{
        font-size: 17px;
        padding-top: 50px;
        color: #128fae;
        padding-bottom: 20px;
    }

    p{
        text-align: center;
        font-size: 14px;
    }

    .btnPromo,p{
        width: 250px;
    }
}

@keyframes anim{
    from{width: 0;}
    to{width: 300px;}
}