.sideOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    padding-bottom: 30px;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    .wrapper::-webkit-scrollbar {width: 0;}
    .wrapper{-ms-overflow-style: none;}
    .wrapper {overflow: -moz-scrollbars-none;}
    animation: anim 1s ease;

    .close{
        font-size: 14px;
        position: absolute;
        right: 0;
        margin-right: 15px;
        color: #dc3545;;
        font-size: 35px;
        cursor: pointer;
    }

    h5{
        font-size: 17px;
        padding-top: 50px;
        color: #128fae;
        padding-bottom: 20px;
    }

    p{
        font-weight: 700;
        text-align: center;
        font-size: 14px;
    }

    .btnPromo,.btnComment,p{
        width: 250px;
    }

    .textArea{
        width: 100%;
        padding: 0 15px;
        color: #128fae;
        background-color: rgba(17, 17, 17, 0.123);
        margin-bottom: 20px;
    }

    .inputName{
        color:#128fae;
        padding: 0 15px;
        width: 100%;
        background-color: rgba(17, 17, 17, 0.123);
        border: 0;
        border-bottom: 1px solid gray;
    }
}

.sideOrder_hide{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    padding-bottom: 30px;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    .wrapper::-webkit-scrollbar {width: 0;}
    .wrapper{-ms-overflow-style: none;}
    .wrapper {overflow: -moz-scrollbars-none;}
    animation: anim 1s ease;

    .arrow{
        color: #dc3545;;
        font-size: 35px;
        cursor: pointer;
    }
}

@keyframes anim{
    from{width: 0;}
    to{width: 300px;}
}