$selectCursor: url(../../image/Select.cur), auto;

.container {
  width: 354px;
  margin-bottom: 30px;

  .title {
    font-size: 22px;
    font-weight: 600;
    color: #128fae;
    margin: 5px 0 10px 0;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    width: 354px;
    height: 170px;
  }

  .img {
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
  }

  /*Забираю прокрутку*/
  .description::-webkit-scrollbar {
    width: 0;
  }

  .description {
    -ms-overflow-style: none;
  }

  .description {
    overflow: -moz-scrollbars-none;
  }

  /******************/

  .description {
    margin: 15px 0;
    height: 84px;
    overflow: scroll;

    p {
      border-left: 3px solid #ffdb2b;
      padding-left: 16px;
    }
  }

  .basket {
    padding: 5px;
  }

  .basket:hover {
    cursor: pointer;
    background-color: #f55a00;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: $selectCursor;
  }

  .buy {
    padding: 2px;
    border-radius: 5px;
    background-color: #ffdb2b;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;

    &:hover {
      background-color: #25A84C;
      transition: all .3s ease;
    }

    p {
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      padding: 10px 15px;
      background-color: black;
      color: white;
    }

    span {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      padding: 15px;
      color: wblack;
      text-transform: uppercase;
    }
  }

  .buy:hover {
    cursor: $selectCursor;
  }
}
